@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    background-color: #ebe5c5;
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-bottom: 50px; 
    display: block;
    text-align: center;

    /*
        COISAS QUE Nﾃグ FIZ
        
        (*)min-heigth: 150px;
        padding-top: 40px; 
    */
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    text-shadow: 2px 1.5px 0px rgba(0, 0, 0, 0.300);
    font-size: 3em;
    padding-top: 40px;

    /*
        COISAS QUE Nﾃグ FIZ
        
        margin-bottom: 20px;
    */
}

header > p {
    font-family: var(--fonte-padrao);
    color: white;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 1.5px 0px rgba(0, 0, 0, 0.300);
    padding: 20px 10px 0px 10px;
    font-size: 1.2em;

    /*
        COISAS QUE Nﾃグ FIZ
        
        (+*) max-width: 600px;
        (+) margin: auto;
        padding-left: 10px;
        padding-right: 10px;
    */
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.160);
}

nav a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
    padding:10px;
    transition-duration: 0.5s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
    padding: 10px;
}

main {
    min-height: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.410);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    margin-bottom: 15px;
    font-weight: normal;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor1), white);
    font-weight: 100;
    padding-left: 8px;
    font-size: 1.3em;
    margin: 15px 0px 15px 0px;

    /*
        (+**) transparest (no lugar de White)
        (+**) text-indent: (no lugar de padding-left)
    */
}

main a {
    background-color: var(--cor1);
    color: var(--cor5);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main a::after {
    content: ' 沐';

    /*
        recomendado usar em class
    */
}

main p {
    text-indent: 30px;
    line-height: 2em;
    text-align: justify;
    margin: 15px 0px 15px 0px;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;

    /*
        COISAS QUE Nﾃグ FIZ
        
        width: 35%; (nﾃ｣o recomendado)
    */
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;

    position: relative;
    padding-bottom: 58%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.300);
}

aside ul {
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

aside h3 {
    color: white;
    background-color: var(--cor4);
    padding: 10px 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}
