@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 80px;
}

header h1 {
    font-family: var(--fonte2);
    font-size: 2em;
}

header p {
    font-family: var(--fonte3);
}

div {
    padding: 100px;
    background-image: url('imagens/background001.jpg');
    background-repeat: no-repeat;
}
